name: Build, Test and Publish

on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
    branches: [main]

env:
  DOTNET_VERSION: 8.x

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup .NET ${{ env.DOTNET_VERSION }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: Output version of .NET
        run: dotnet --version
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test
        id: test
        run: dotnet test --configuration Release --no-build --verbosity normal --collect:"XPlat Code Coverage" --results-directory ./coverage
      - name: Code Coverage Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage/**/coverage.cobertura.xml
          thresholds: '100 100'
          fail_below_min: true
  publish:
    if: startsWith(github.ref, 'refs/tags/v')
    name: Publish
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup .NET ${{ env.DOTNET_VERSION }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      - name: Output version of .NET
        run: dotnet --version
      - name: Add GitHub source
        run: dotnet nuget add source "https://nuget.pkg.github.com/Thomas-Shephard/index.json" --name "github.com" --username "Thomas-Shephard" --password ${{ secrets.NUGET_GITHUB_TOKEN }} --store-password-in-clear-text
      - name: Pack project
        run: dotnet pack /p:PackageVersion=${GITHUB_REF_NAME#v} --configuration Release
      - name: Push to sources
        run: |
          dotnet nuget push **/*.nupkg --source "github.com"
          dotnet nuget push **/*.nupkg --api-key ${{ secrets.NUGET_ORG_TOKEN }} --source "nuget.org"